name: Sync issues

on:
  workflow_dispatch:
    inputs:
      since:
        description: Cutoff date
        required: false
        default: detect
  schedule:
    - cron: 20 */4 * * *

permissions:
  contents: read

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: '3.13'

      - uses: actions/cache@v4
        with:
          path: downloaded/
          key: issues-dump-v2-${{ github.run_id }}
          restore-keys: issues-dump-v2-

      - name: Fetch issues
        run: |
          uv run fetch --since "$CHECK_SINCE"
        env:
          GH_ACCESS_TOKEN: ${{ secrets.CUSTOM_GITHUB_PAT }}
          CHECK_SINCE: ${{ inputs.since || 'detect' }}
